<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style type="text/css">
        .layui-form-item .layui-inline { margin-bottom: 0px; }
        .layui-form-item { margin-bottom: 5px; }
        #layui-table-page1,#layui-table-page2 {
            text-align: center;
        }
    </style>
</head>
<body>

<!-- 招聘计划申请 主页面 -->
<div class="layui-breadcrumb"  style="margin-top:8px">
    <i class="layui-icon">&#xe65b;</i>
    <a href="/forward/right">首页</a>
    <a><cite>招聘计划申请</cite></a>
</div>
<hr class="layui-bg-gray" style="height:3px ;">
<!--tab标签开始-->
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title ">
        <li class="layui-this"> <i class="layui-icon">&#xe6b2;</i>送审中</li>
        <li> <i class="layui-icon">&#xe605;</i>审批完成</li>
        <div class="layui-layout-right" id="layer-btn">
            <button data-method="tiAdd" data-type="auto" class="layui-btn layui-btn-normal layui-btn-sm">
                <i class="layui-icon">&#xe608;</i>增加
            </button>
            <button data-method="tiDel" type="button" class="layui-btn layui-btn-sm layui-btn-danger">
                <i class="layui-icon">&#xe640;</i>删除
            </button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">
                <i class="layui-icon">&#xe615;</i>查询
            </button>
            <span style="margin-right: 30px"></span>
        </div>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <!--送审中的界面，设置脚本在页面末尾-->
            <table id="approving" lay-filter="test"></table>


        </div>
        <!--送审中的界面，结束标签-->
        <div class="layui-tab-item">

            <!--审批完成的界面-->
            <table id="approved" lay-filter="test1"></table>


        </div>
        <!--审批完成的界面，结束标签-->

    </div>
</div>
<!--tab标签结尾-->


<script th:src="@{'/layui/layui.js'}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<!--标题栏左侧工具栏模板：-->
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layedit', 'laydate','element','table','layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,element = layui.element
            ,$ = layui.jquery
            ,table = layui.table;

        // #### 送审中 的 数据表格 ####
        table.render({
            elem: '#approving' //控件的id
            ,url: '/getStaffDemandApproving' //数据接口
            ,height: 'auto'
            ,method: 'get'
            ,page: true //开启分页
            ,limit: 5 //默认每一页显示的条数
            ,limits: [1, 2, 3, 5, 10, 20, 30, 50]//提示的每页条数的列表
            ,toolbar: '#toolbarDemo' //显示工具栏
            ,title: "征集表" //设置导出文件时的标题
            ,loading: true
            ,cols: [
                [ //表头
                    {field: 'no', type: 'checkbox', width: "3%", fixed: 'left', align: "center"}
                    ,{field: 'id', width: '5%', title: '编号', fixed: 'left', align: "center", type: "numbers"}
                    ,{field: 'demand_title', title: '招聘主题', width:"30%", align: "center", sort: true}
                    ,{field: 'department_name', title: '招聘部门', width:"17%", align: "center"}
                    ,{field: 'demand_status', title: '状态', width:"10%", align: "center", sort: true}
                    ,{field: 'processInstance_id', title: '步骤与流程图', width:"15%", align: "center"}
                    ,{field: 'op', title: '操作', width: "20%", align: "center",templet:'#barDemo'}
                ]
            ]
        });

        // #### 审批完成 的 数据表格 ####
        table.render({
            elem: '#approved' //控件的id
            ,url: '/getStaffDemandApproved' //数据接口
            ,height: 'auto'
            ,method: 'get'
            ,page: true //开启分页
            ,limit: 5 //默认每一页显示的条数
            ,limits: [1, 2, 3, 5, 10, 20, 30, 50]//提示的每页条数的列表
            ,toolbar: '#toolbarDemo' //显示工具栏
            ,title: "审批完成" //设置导出文件时的标题
            ,loading: true
            ,cols: [
                [ //表头
                    {field: 'no', type: 'checkbox', width: "3%", fixed: 'left', align: "center"}
                    , {field: 'id', width: '5%', title: '编号', fixed: 'left', align: "center", type: "numbers"}
                    ,{field: 'demand_title', title: '招聘主题', width:"30%", align: "center", sort: true}
                    ,{field: 'department_name', title: '招聘部门', width:"17%", align: "center"}
                    ,{field: 'demand_status', title: '状态', width:"10%", align: "center", sort: true}
                    ,{field: 'processInstance_id', title: '流程实例ID', width:"15%", align: "center"}
                    ,{field: 'op', title: '操作', width: "20%", align: "center",templet: '#barDemo'}
                ]
            ]
        });


        var active = {
            tiAdd: function(othis){    //添加按钮 触发事件
                var type = othis.data('type')
                    ,text = othis.text();

                layer.open({
                    type: 2 //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    ,title:'添加招聘计划'
                    ,offset: 'auto' //窗口顶边距
                    ,area: ['900px', '700px'] //窗口大小
                    ,id: 'layerBtn'+type //防止重复弹出
                    ,content: '/addStaffDemand/add' //弹出窗引用的内容
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 1 //不显示遮罩
                    ,shadeClose: true //点击外层关闭遮罩
                    ,success : function(layero){ //层弹出后回调

                    }
                });
            },
            tiDel: function(othis){  //删除按钮  触发事件
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }

        };
        $('#layer-btn .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

        /*vvvvvvvvvvvvv监听行工具栏事件vvvvvvvvvvvvvvvvv*/
        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'detail' || layEvent === 'edit') { //查看, 显示详情
                layer.open({
                    type: 2,
                    shade: 0.5,//不显示遮罩
                    shadeClose: true, //点击外层关闭遮罩
                    area: ['900px', '700px'],
                    maxmin: true,
                    title: "详情信息",
                    //anim: 1,
                    content: '/addStaffDemand/'+layEvent,
                    zIndex: layer.zIndex, //重点1
                    success: function (layero) {

                        layer.setTop(layero); //重点2
                        //*查看**弹出新窗体后, 给新窗体的控件赋值
                        //获得弹出层页面的主体部分 body
                        var body = layer.getChildFrame("body");
                        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();

                        //给弹出层body部分的表单控件赋值 / 选择器["name属性='属性值']"]
                        body.find("#department").val(data.department_id); //部门data.department_name
                        body.find("#dutyId").val(data.duty_id); //职务data.department_name
                        body.find("#recruitWay").val(data.recruit_way); //招聘方式

                        body.find("[name='demandTitle']").val(data.demand_title); //标题
                        body.find("[name='demandAmount']").val(data.demand_amount); //人数
                        var arr = data.salary_range.split("-"); //薪资拆分
                        body.find("[name='salary_min']").val(arr[0]); //薪资min
                        body.find("[name='salary_max']").val(arr[1]); //薪资max
                        body.find("[name='startDate']").val(format(data.start_date,"yyyy-MM-dd")); //开始时间
                        body.find("[name='finishDate']").val(format(data.finish_date,"yyyy-MM-dd")); //结束时间
                        body.find("[name='jobRequire']").val(data.job_require); //岗位要求
                        body.find("[name='jobContent']").val(data.job_content); //内容明细
                        body.find("[name='remark']").val(data.remark); //备注

                    }
                })
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    layer.msg("删除")

                });
            }
        });


        //时间相关工具
        var format = function (time, format) {
            var t = new Date(time);
            var tf = function (i) {
                return (i < 10 ? '0' : '') + i
            };
            return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function (a) {
                switch (a) {
                    case 'yyyy':
                        return tf(t.getFullYear());
                        break;
                    case 'MM':
                        return tf(t.getMonth() + 1);
                        break;
                    case 'mm':
                        return tf(t.getMinutes());
                        break;
                    case 'dd':
                        return tf(t.getDate());
                        break;
                    case 'HH':
                        return tf(t.getHours());
                        break;
                    case 'ss':
                        return tf(t.getSeconds());
                        break;
                }
            })

        }


    });
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="add">
           <i class="layui-icon">这里是表格的标题栏，文件位置staffDemand.html</i>
        </button>
    </div>
</script>
<!-- 数据表格行工具->>>操作一栏，引用：-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="commit">提交</a>
    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>
</html>