th,td{
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color:Red;
}

tr,td,th{
    text-align: center;
}
a{
    text-decoration:none;
    color: #5bc0de;
}
a:hover{
    color: red;
}
h2{
    text-align: center;
    color: #d9534f;
}
.mb{
    color: sienna;
}
.mb2{
    color: sienna;
}