<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link th:href="@{'/layui/css/layui.css'}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/css/index.css'}" media="all" />

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">人力资源管理</div>

        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" lay-filter="">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>

        <!-- 头部右侧区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right ">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item lockcms" pc>
                <a href="javascript:;"><i class="seraph icon-lock"></i><cite>锁屏</cite></a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black" style="margin-top:8px">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree  "  lay-filter="test">
                <li class="layui-nav-item layui-this">

                    <a class="" th:href="@{'/forward/right'}" target="right"><i class="layui-icon " data-icon=""></i>回到首页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">员工平台</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/right'}" target="right">列表一</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">机构管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/right'}" target="right">列表一</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">招聘管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/recruitment/staffDemand'}" target="right">招聘计划</a></dd>
                        <dd><a th:href="@{'/forward/recruitment/demo'}" target="right">招聘初选</a></dd>
                        <dd><a th:href="@{'/forward/recruitment/demo'}" target="right">招聘面试</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">人事资料</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/init'}" target="right">查看员工</a></dd>
                        <dd> <a th:href="@{'/contract_find'}" target="right">查看合同</a></dd>
                        <dd><a th:href="@{'/demission_find'}" target="right">查看离职</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">培训管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/right'}" target="right">列表一</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">考勤管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/kaoqingguanli/attendance'}" target="right">考勤记录</a></dd>
                        <dd><a th:href="@{'/forward/kaoqingguanli/evection'}" target="right">出差管理</a></dd>
                        <dd><a th:href="@{'/forward/kaoqingguanli/vacation'}" target="right">休假管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">绩效考核</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/jixiaokaohe/assess'}" target="right">考核信息</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">考核统计分析</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">薪资福利</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/right'}" target="right">列表一</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">企业文化</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/right'}" target="right">列表一</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/forward/first'}" target="right">查看员工</a></dd>
                        <dd><a th:href="@{'/forward/right'}" target="right">列表二</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="margin-top:8px;height:100%;">
    <!-- 内容主体区域 -->
        <div class="layui-tab-item layui-show">
            <iframe name="right" th:src="@{'/forward/right'}" style="width: 100%;height: 100%" frameborder="0"></iframe>
        </div>
    </div>

    <!-- <div class="layui-footer">
        © layui.com - 底部固定区域
    </div> -->
</div>

<script th:src="@{'/layui/layui.js'}" type="text/javascript"></script>
<script th:src="@{'/js/index.js'}" type="text/javascript"></script>
<script th:src="@{'/js/cache.js'}" type="text/javascript"></script>
<script>
    layui.use(['element', 'form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,element = layui.element;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;

        });


    });
</script>
</body>
</html>