<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <LINK th:href="@{'/css/bootstrap.min.css'}" type="text/css" rel="stylesheet">
    <LINK th:href="@{'/css/my.css'}" type="text/css" rel="stylesheet">
    <script th:href="@{'/js/bootstrap.min.js'}"></script>
</head>
<body>
<div class="container col-md-12 col-md-offset-0">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>编号</th><th>工号</th><th>姓名</th><th>部门</th><th>职务</th><th>操作</th>
        </tr>
        <tr th:each="k,st:${list}">
            <td th:text="${st.count+(page-1)*rows}"></td>
            <td th:text="${k.staff_number}"></td>
            <td th:text="${k.staff_name}"></td>
            <td th:text="${k.department_name}"></td>
            <td th:text="${k.duty_name}"></td>
            <td>
                <a th:href="@{|/staff_detail/${k.staff_number}|}" class="btn btn-sm btn-success">查看</a>
                <a th:href="@{|/update_staff/${k.staff_number}|}" class="btn btn-sm bg-primary">修改</a>
                <a th:href="@{'/forward/staff_add'}" class="btn btn-sm btn-warning">添加</a>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <b th:if="${page eq 1}">
                    首页
                    上一页
                </b>
                <b th:if="${page gt 1}">
                    <a th:href="@{'/staff_find/1'}">首页</a>
                    <a th:href="@{|/staff_find/${page-1}|}">上一页</a>
                </b>
                <b th:if="${page eq maxPage}">
                    下一页
                    尾页
                </b>
                <b th:if="${page lt maxPage}">
                    <a th:href="@{|/staff_find/${page+1}|}">下一页</a>
                    <a th:href="@{|/staff_find/${maxPage}|}">尾页</a>
                </b>
                共<b class="mb">[[${count}]]</b>条
                每页<b class="mb">[[${rows}]]</b>条
                共<b class="mb">[[${maxPage}]]</b>页
                <select name="page" th:onchange="location.href='/staff_find/'+this.value">
                    <div th:each="m:${#numbers.sequence(1,maxPage)}">
                        <option th:value="${m}" th:attr="selected=${m==page?true:false}">第[[${m}]]页</option>
                    </div>
                </select>
            </td>
        </tr>
    </table>
</div>
</body>
</html>