<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.DepartmentMapper">
    <select id="getStaffDemand" resultType="org.java.entity.StaffDemand">
        SELECT demand_title,department_name,demand_status,processInstance_id
            FROM sys_duty du, sys_department de, hr_staff_demand sta
        WHERE du.department_id=de.department_id
            AND du.duty_id=sta.duty_id
        limit #{start}, #{rows}
    </select>

    <select id="getStaffDemandCount" resultType="int">
        SELECT count(*)
            FROM sys_duty du, sys_department de, hr_staff_demand sta
        WHERE du.department_id=de.department_id
            AND du.duty_id=sta.duty_id
    </select>

</mapper>
