<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.StaffMapper">

    <!--查看员工-->
    <select id="staffFind" resultType="map">
    SELECT staff_number,staff_name,department_name,duty_name
    FROM hr_staff_info a,sys_duty b,sys_department c
    WHERE a.duty_id = b.duty_id
    AND b.department_id = c.department_id
    limit #{start},#{rows}
    </select>

    <!--查询员工表数据总数-->
    <select id="staffGetCount" resultType="int">
        select count(*) from hr_staff_info
    </select>

    <!--查看员工详细信息-->
    <select id="staffDetail" resultType="map" parameterType="int">
      select * from hr_staff_info where staff_number = #{staff_number}
    </select>

    <!--添加员工信息-->
    <insert id="staffAdd" parameterType="map">
    INSERT INTO hr_staff_info VALUES(uuid(),#{staff_number},#{staff_name},#{sex},#{staff_birthday},
    #{staff_telphone},#{staff_email},#{staff_address},#{staff_birthplace},#{staff_nation},
    #{staff_marriage},#{staff_politics},#{staff_id_number},#{staff_school_record},#{staff_college},
    #{staff_major},#{staff_graduation_date},#{staff_work_date},#{staff_title},#{staff_original_title},
    #{staff_job_status},#{staff_indepartment_date},#{duty_id},#{original_duty_id},#{staff_salary_day})
    </insert>

    <!--查看详情修改-->
    <select id="updateStaff" resultType="map" parameterType="int">
      select * from hr_staff_info where staff_number = #{staff_number}
    </select>

    <!--修改员工信息-->
    <update id="staffUpdate" parameterType="map">
        update hr_staff_info set staff_telphone = #{staff_telphone},staff_email =#{staff_email},
        staff_address = #{staff_address},staff_marriage = #{staff_marriage}
        where staff_number = #{staff_number}
    </update>

    <!--删除员工-->
    <delete id="staffDelete" parameterType="int">
        delete from hr_staff_info where staff_number = #{staff_number}
    </delete>

    <!--查看合同-->
    <select id="contractFind" resultType="map">
        SELECT d.contract_id,contract_name,staff_name,department_name,contract_status,contract_official,staff_number
        FROM hr_contract_info a,hr_staff_info b,sys_department c,hr_employ_info d
        WHERE d.staff_id = b.staff_id
        AND c.department_id = d.department_id
        AND a.contract_id = d.contract_id
        limit #{start},#{rows}
    </select>

    <!--查询合同表数据总数-->
    <select id="contractGetCount" resultType="int">
        select count(*) from hr_contract_info
    </select>


    <!--查看合同详细信息-->
    <select id="contractDetail" resultType="map" parameterType="int">
    SELECT staff_number,staff_name,sex,department_name,duty_name,
    a.contract_id,contract_name,contract_type,contract_deadline_is,contract_official,contract_sign_date,
    contract_status,contract_deadline,contract_official_start,contract_official_end,contract_official_salary
    FROM hr_contract_info a,hr_staff_info b,sys_duty c,sys_department d,hr_employ_info e
    WHERE b.staff_id = e.staff_id
    AND a.contract_id = e.contract_id
    AND c.duty_id =e.duty_id
    AND d.department_id=e.department_id
    AND b.staff_number = #{staff_number}
    </select>

    <!--查询离职员工-->
    <select id="demissionFind" resultType="map">
    SELECT staff_number,staff_name,department_name,demission_type,demission_date
    FROM hr_demission_info a,hr_staff_info b,sys_department c,hr_employ_info d
    WHERE a.staff_id = b.staff_id
    AND b.staff_id = d.staff_id
    AND c.department_id = d.department_id
    limit #{start},#{rows}
    </select>

    <!--查询离职员工表数据总数-->
    <select id="demissionGetCount" resultType="int">
        select count(*) from hr_demission_info
    </select>


    <!--查看离职员工详细信息-->
    <select id="demissionDetail" resultType="map" parameterType="int">
    SELECT staff_number,staff_name,department_name,demission_type,demission_date,sex,duty_name,staff_id_number,demission_where,demission_salary_end
    FROM hr_demission_info a,hr_staff_info b,sys_department c,hr_employ_info d,sys_duty e
    WHERE a.staff_id = b.staff_id
    AND b.staff_id = d.staff_id
    AND c.department_id = d.department_id
    AND e.duty_id = d.duty_id
    AND b.staff_number = #{staff_number}
    </select>


</mapper>			